@import "tailwindcss";
@import "tailwindcss";
@source "../views";

.bg-image-container {
    background-image: url('./components/login/Assets/BgLog.png'); /* Asegúrate de que la ruta sea correcta */
    background-size: cover;
    background-position: center;
  }